name: Hello World
on: 
  push:
    branches:
      - main
      - pr_demo
      - 'release/**'
  pull_request:
    branches:
      - main
jobs:
  build1:
    runs-on: ubuntu-latest
    steps:
      - name: Demo build1
        run: echo "Build 1"